[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/Abizern/AFNetworking.git
[submodule "iOS-apiTests/Externals/TestKits"]
	path = iOS-apiTests/Externals/TestKits
	url = https://github.com/Abizern/TestKits-iOS.git
